@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}
fieldset{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

fieldset > p > input{   
    margin-top: 10px;
    
}
fieldset > p > input#icadastrar{
    width: 50%;
    margin: auto;
}

